### tuples
- t1 parenthesis() li sqare brackets[]
- difference between list and tuples
    - list are mutable - can be changed/modified
       - used to access modify,add,delete data
    - tuples are immutable - cannot be changed
       - used to access data only

In [27]:
t1 = (1,2,3,4,5,6)
t1
type(t1)

tuple

Data structure
- Dictionaries

### Dictionaries
- It works on the concept of set unique data
- Keys,values is the unique identifier for a value
- Each Key is seperated from its value with colon(:)
- each key and value is seperated by a comma(,)
- dictionaries enclosed with curly brackets({})

In [1]:
d1={"name":"gitam","email.id":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'gitam', 'email.id': 'gitam@gmail.com', 'address': 'hyderabad'}

In [2]:
d1["name"]

'gitam'

In [17]:
d1['email.id']='gitam-python@gmail.com'

In [18]:
d1['email.id']

'gitam-python@gmail.com'

In [19]:
 d1['email.id']

'gitam-python@gmail.com'

In [20]:
d1

{'name': 'gitam', 'address': 'hyderabad', 'email.id': 'gitam-python@gmail.com'}

In [21]:
del d1['email.id']

In [22]:
d1

{'name': 'gitam', 'address': 'hyderabad'}

In [23]:
d1.keys() #returns the list of keys

dict_keys(['name', 'address'])

In [24]:
d1.values() #returns the values

dict_values(['gitam', 'hyderabad'])

In [25]:
d1.items() #the list of tuples of keys and values

dict_items([('name', 'gitam'), ('address', 'hyderabad')])

### contact application
- add contact
- search the contact
- list all contacts
    - name1 : phone1
    - name2 : phone2
- modify the contact
- remove the contact
- import the contact

In [30]:
# add contact
contacts={} #creating a dict object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact is details are added")
    else:
        print("contact details are already exists")
    return
addcontact('sreelekha','7672183897')
addcontact('jyothsna','7634652347')
addcontact('saisaru','7657348527')
addcontact('jyothsna','7634652347')

contact is details are added
contact is details are added
contact is details are added
contact details are already exists

In [31]:
  #search for contact details
def searchcontact(name):
        if name in contacts:
            print(name,":",contacts[name])
        else:
            print("%s does not exists"%name)
        return
searchcontact('sreelekha')
searchcontact('jyothsna')
searchcontact('sai')

sreelekha : 7672183897
jyothsna : 7634652347
sai does not exists

In [32]:
# import some contacts
# merge the contacts with existing one
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return
newcontacts={'dinesh':9785738243,'jyothsna':9974567748}
importcontact(newcontacts)

2 contacts added successfully

In [33]:
contacts

{'sreelekha': '7672183897',
 'jyothsna': 9974567748,
 'saisaru': '7657348527',
 'dinesh': 9785738243}

In [34]:
# delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfylly")
    else:
        print(name,"not exists")
    return
deletecontact('dinesh')

dinesh deleted successfylly

In [36]:
contacts

{'sreelekha': '7672183897', 'jyothsna': 9974567748, 'saisaru': '7657348527'}

In [39]:
# update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
deletecontact('anil',9987646365)
deletecontact('sreelekha',7672183897)

anil not exists
sreelekha updated successfully

In [46]:
# program to print fibanocci series in reverse order
n=int(input("enter n value"))
f0=0,f1=1,i=0
    while i<=n:
        f2=f1+f0
        f0=f1
        f1=f2
        i=i+1
    print(reverse(f2))
return

IndentationError: unexpected indent (<ipython-input-46-99ce7950e295>, line 4)

In [51]:
#Series Generations:-  1, 3, 9, 27, 81, ...
def threepow(n):
    for i in range(n):
        k=3**i
        print(k)
    return
threepow(10)

1
3
9
27
81
243
729
2187
6561
19683

In [49]:
def reverseFibonacci(n): 
    a = [0] * n  
    a[0] = 0 
    a[1] = 1
    for i in range(2, n):   
        a[i] = a[i - 2] + a[i - 1]  
    for i in range(n - 1, -1 , -1): 
        print(a[i],end=" ")  
n = 5 
reverseFibonacci(n)

3 2 1 1 0

In [53]:
#Series Generations:-  1, 2, 4, 8, 16, 32, 64, 128, 256, ...
def twopow(n):
    for i in range(n):
        k=2**i
        print(k)
    return
twopow(10)

1
2
4
8
16
32
64
128
256
512

In [62]:
def fact(n):
    fact=1 
    for i in range(1,n):
        while i<=n:
            fact=fact*i
            i=i+1
        print(fact,end=" ")
    return 
fact(5)

120 14400 864000 17280000

In [64]:
li=['gitam','hyderabad']
li.count(1)

0

In [65]:
def generateseries(n):
    a=1
    b=3
    c=4
    print(a)
    print(b)
    for i in range(n):
        sum=a+b+c
        a=b
        b=c
        c=sum
        print(sum)
    return
generateseries(10)

1
3
8
15
27
50
92
169
311
572
1052
1935

In [66]:
li1=[1,2,3,4]
print("%d %d %d %d"% (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [67]:
#classical version
li=["python","programming"]
print("%s %s"%(li[0],li[1]))

python programming

In [69]:
print("{0} {1}".format(li[0],li[1]))

python programming

In [70]:
print("{0} {1} {2} {3}".format(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

### string functions
- upper()--will convert the given string into upper case
- lower()-- will convert the given string into lower case

In [71]:
s1='gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

### boolean function(true and false)
 -  islower()-- true if the string is lower case/false if the string not in lower case
 -  isupper()--true if the string is upper case/false if the string is not upper case
 -  istitle()--true if the string follows title page/false
 -  isalpha()--true if the string contains only alphabets/false
 -  isnumeric()--true if the string contains only numbers/false 
 -  isspace()--true if the string contains only space/false

In [72]:
s1='GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [75]:
s2="Python Programming"
s3="python programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [77]:
s2="Application1889"
s3='PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [79]:
s1= "1234"
s2= "Application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [80]:
s1=" "
s2="py th on"
print(s1.isspace())
print(s2.isspace())

True
False

### string methods
  - 1.join()-- method will concatinates the two strings
  - 2.split()--split() returns to a list of strings seperated by white space(no parameters are given)

In [81]:
s1='python'
print(",".join(s1))

p,y,t,h,o,n

In [82]:
s1="python programming"
print(",".join(s1))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g

In [83]:
li=['python','programming','learn']
print(",".join(li))

python,programming,learn

In [84]:
s1="python programming"
print(s1.split())

['python', 'programming']

In [85]:
s1="python programming easy to learn"
print(s1.split('a'))

['python progr', 'mming e', 'sy to le', 'rn']

In [86]:
s1="python programming easy to learn"
li=s1.split()
print(li)
print(len(li))

['python', 'programming', 'easy', 'to', 'learn']
5

In [87]:
s1="python programming easy to learn"
li=list(s1)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [2]:
s1="python programming easy to learn"
print(s1.replace())

TypeError: replace() takes at least 2 arguments (0 given)

In [25]:
# series generations: 2 15 41 80 132 197 ......
def series(n):
    m=2
    for i in range(n):
        r=13*i+m
        print(r,end=" ")
        m=r
    return
series(10)

2 15 41 80 132 197 275 366 470 587

In [26]:
i=0
while i<3:
    print(i)
    i+=1
else:
    print(0)

0
1
2
0

In [27]:
def myfunc(a):
    
    a=a+2
        a=a*2
    return a
print myfunc(2)

IndentationError: unexpected indent (<ipython-input-27-e6b4df421c88>, line 4)

In [29]:
def fib(n):
    if n<0:
        print("incorrect input")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)
print(fib(8))

13

### packages and modules
# packages:
- a collection and subpackages
## module:
- a single python file containing set functions
# packages-->sub packages-->modules-->functions-->statements

In [30]:
# import the externals packages to python file
import math
math.floor(123.45)

123

In [31]:
from math import factorial as fact
fact(5)

120

In [32]:
from math import gcd as gcd
gcd(10,15)

5

In [66]:
# function to generate n random numbers in given range
import random
def randomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomnumbers(10,0,100)

93 93 46 45 11 68 99 52 54 91

In [72]:
# create a simple game:
# generate 20 random numbers 0 to 500
# input: number
# output:congracts!!
#        try once again!!!
def generatenumbers(n,lb,ub):
    li=[]
    for i in range(0,n):
        li.append(random.randint(lb,ub))
    return li
def check(n):
    if n in li:
        return "congracts!!!"
    else:
        return "try once again!!!"
    return
li=[1,13,5]
check(15)

'try once again!!!'

In [69]:
# series generations: 1,9,17,33,49,73,97
def num(n):
    a=8
    b=1
    c=n//2
    print(1)
    for i in range(1,c+1):
        for j in range(1,3):
            b=b+a
            print(b)
        a=a+8
    return
num(10)

1
9
17
33
49
73
97
129
161
201
241